# Devcon tool and official setup
*.exe
*.ini
*.dll
*.cab
*.iss
*.hdr
*.bin
*.inx
*.isn
# Driver folders
*.inf
*.cat
*.DAT
*.sys
# Realtek Audio Control offline bundle
/*RtkUWP*/
# BSOD / GSOD recovery tutorial
recovery.txt