# Binary tools and official setup
*.exe
*.ini
*.dll
*.cab
*.iss
*.hdr
*.bin
*.inx
*.isn

# Binary configuration files
AdvancedRun.cfg

# Driver folders
*.inf
*.cat
*.DAT
*.sys

# Realtek Audio Control offline bundle
*.Appx
*.AppxBundle
*.EAppxBundle
*.BlockMap
*.provxml
*.xml

# BSOD / GSOD recovery tutorial and patches
*.txt

# Temporary files
tmpFile
tmpFile2