# Devcon tool
devcon.exe
# Driver folders
/Codec*/
/ExtRtk*/
/RealtekAPO*/
/RealtekHSA*/
/RealtekService*/
/driver/
# Realtek Audio Control offline bundle
/*RtkUWP*/
# BSOD recovery tutorial
bsod-recovery.txt